{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "hono-d1-drizzle",
  "main": "src/index.ts",
  "compatibility_date": "2025-02-14",
  "d1_databases": [
    {
      "binding": "DB_PROD",
      "database_name": "madamis-db",
      "database_id": "7e359530-09dd-4617-a265-cccfeea5a5f0",
      "preview_database_id": "7e359530-09dd-4617-a265-cccfeea5a5f0"
    }
  ]
}
